

/*Starting from Mobile and scaling upwards*/
.section{
	margin-top:30px;
}
.header{

	width:100%;
	height:100px;
	margin-top:0px;

	font-family: 'Open Sans', sans-serif;
	/*Centering*/
	text-align: center;

	/***********/   
	background:rgba(94, 94, 173, 0.94);

	
}
.header > h1{
	position:relative;
	top:20%;

	font-size:30px;
}

.jumbo{
	width:100%;
	height:300px;
	

}
.jumbo img{
	height:100%;
	width:100%;
    
    background:black;
	opacity:.6;
}
.bodysection{
	width:100%;
	height:400px;
	background:rgb(241, 241, 241);
}

.minisect{
	width:100%;
	height:30px;
	background:lightblue;
	margin-top:20px;
	font-size:12px;
	
}
.minisect>span:hover{
	cursor:pointer;
	width:200px;
}

.minisect>span{
	position:relative;
	top:13%;
	text-transform:uppercase;
}
.minisect.description{
	margin-top:0px;

	display: table;

}
.minisect.description p, .minisect.background p, .minisect.powers p{
	position:relative;
	top:20px;
	text-indent:30px;
}
.btn-xs{ 
	position:relative;
	top:13%;
   
}
.hideme{
display: table-row;
}

/*For Mobile */

@media (min-width:320px) and (max-width:600px){

}