body, html{
	padding:0;
}

/*Starting from Mobile and scaling upwards*/
.section{
	margin-top:30px;
}
.header{
	width:100%;
	height:100px;
	background:blue;
	margin-top:0px;
}

.jumbo{
	width:100%;
	height:300px;
	background:red;
}

.bodysection{
	width:100%;
	height:400px;
	background:black;
}




/*For Mobile */

@media (min-width:320px) and (max-width:600px){

}